@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1 id="header1">**** HELLO California peeps ****</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <label id="name_label">Enter Value</label>
    <input id="name" />
    <button id="ok_button">OK</button>
</div>
